<?xml version="1.0" encoding="utf-8"?>

<manifest 
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.greylock"
  android:versionCode="1"
  android:versionName="1.0">
  
  <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="17" />
  
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name='android.permission.READ_PHONE_STATE' />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   
  <application
    android:label="@string/app_name"
    android:icon="@drawable/icon" 
    android:allowBackup="true" >
        
    <activity 
      android:name=".MainActivity" 
      android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
	    <action android:name="android.intent.action.VIEW"></action>
	    <category android:name="android.intent.category.DEFAULT"></category>
	    <category android:name="android.intent.category.BROWSABLE"></category>
	    <data android:host="dry-plateau-8291.herokuapp.com/redirect" android:scheme="http"></data>
	  </intent-filter>
    </activity>

    <activity
      android:name=".RenderActivity"
    />
    
    <activity
      android:name=".WebViewActivity"
    />
	
	<service android:name="com.parse.PushService" />
	<receiver android:name="com.parse.ParseBroadcastReceiver">
	  <intent-filter>
	    <action android:name="android.intent.action.BOOT_COMPLETED" />
	    <action android:name="android.intent.action.USER_PRESENT" />
	  </intent-filter>
	</receiver>
	<receiver android:name="com.greylock.RenderActivity">
	    <intent-filter>
	        <action android:name="com.greylock.RENDER_CARD" />
	    </intent-filter>
	</receiver>    

  </application>
</manifest>